  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// BOWER LIBRARY

@import 'library'

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)
$color-brown = rgb(209, 187, 167)

// ******************************************************

// BASIC

html
  background-color: $color-brown
  color: $color-black

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

ul
  list-style-type: disc
  margin-left: 1em

ul
  list-style-type: decimal 
  margin-left: 1em

input
  appearance: none
  border-style: solid

iframe
  max-width: 100%

#search-text-input
  width: 100%

.qtranxs-available-languages-message
  display: none !important

.expo-details
  p:last-of-type
    margin-bottom: 0

.artist-list
  li
    display: inline-block
  li:not(:last-of-type)
    &:after
      content: ',\00a0'

#map-holder
  background-color: $color-brown
  iframe
    width: 100%
    height: 100%
    filter: saturate(0)
    mix-blend-mode: multiply

.post
  iframe
    width: 100%

#notice
  background-color: $color-white
  color: $color-black

// ******************************************************

// MEDIA QUERIES

$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-large = ($gutter * 5)

$font-size-basic = 16px
$font-size-large = 27px

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, false, $margin-large)

font-sizes($font-size-basic, $font-size-large)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-large = ($gutter * 5)

  $font-size-basic = 19px
  $font-size-large = 30px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, false, $margin-large)

  grid(680px, $gutter, m)

  font-sizes($font-size-basic, $font-size-large)

  .mobile-only
    display: none !important

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-large = ($gutter * 3.5)

  $font-size-basic = 21px
  $font-size-large = 32px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, false, $margin-large)

  grid(1000px, $gutter, l)

  font-sizes($font-size-basic, $font-size-large)

  .desktop-only
    display: initial !important

  @import 'responsive/laptop'

@media screen and (min-width: 1280px)

  $gutter = 24px

  $margin-large = ($gutter * 5)

  space-maker(false, false, false, false, false, $margin-large)

  $font-size-basic = 24px
  $font-size-large = 36px

  font-sizes($font-size-basic, $font-size-large)

  grid(1200px)

  @import 'responsive/desktop'

@media screen and (min-width: 1480px)

  grid(1400px)

  @import 'responsive/hd'
